@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../img/pattern (1).png");
}

.main {
    background-color:#cccccc;
    width: 400px;
    height: 175px;
    margin: 100px auto;
    position: relative;
    padding: 30px;

    }

    .badge {
        width: 96px;
        background-color: #e66357;
        color: white;
        padding: 5px 10px;
        font-family: sans-serif, Verdana, Geneva, Tahoma, ;
        font-weight: bold;
        position: absolute;
        top: -15px;
        left: 40%;
    }

    .clock {
        background-color: #ebebeb;
        text-align: center;
        font-size: 55px;
        height:100px;
        padding-top:14px;
        font-family: Orbitron;
        border-radius:4px;
    }